<h5>Will you attend?</h5>

<ul class="button-group round even-3">
  <li><%= button_to "Yes", event_participant_path(@event, @participant), :method => :put, class: "button success", name: :response, value: "Yes" %></li>
  <li><%= button_to "No", event_participant_path(@event, @participant), :method => :put, class: "button success", name: :response, value: "No" %></li>
  <li><%= button_to "Maybe", event_participant_path(@event, @participant), :method => :put, class: "button success", name: :response, value: "Maybe" %></li>
</ul>