<div class="row panel">
		<h2 class="subheader"> Create your event: </h2>
		<ul>
	  		<%  @event.errors.full_messages.each do |msg| %>
	    		<li><%= msg %></li>
	  		<% end %>
		</ul>

		<%= render "shared/event_form" %>
	
</div>
