<div class='new-event-form'>
	<h2> Create your event: </h2>
	<%= render "shared/event_form" %>

<div>
	<div class="row">
		<h2 class="subheader"> Create your event: </h2>
	</div>
	<div class="row">
		<%= render "shared/event_form" %>
	</div>
</div>
