<div class="pagewrap">
<div class="row">
		<ul>
	  		<%  @event.errors.full_messages.each do |msg| %>
	    		<li><%= msg %></li>
	  		<% end %>
		</ul>
			<%= render "shared/event_form" %>
		
	</div>
</div>