<ul class="small-block-grid-2 large-block-grid-4">
  <li class="contactus"> <a href="https://twitter.com/danlinde" > Dan Linde </a> <hr><a href="https://twitter.com/vinayg" > Vinay Gupta </a> <hr><a href="https://twitter.com/kiy_tang" > Kiy-Hong Tang </a> <hr><a href="https://github.com/ting0807" > Xiaoting Wright </a> <hr><a href="https://twitter.com/davewood321" > Dave Wood </a> <hr><a href="#" > </li>
</ul>



<%= render "/layouts/footer" %>





