<div class="row">
	<div class="section-container accordion" data-section="accordion">
	  <section class>
	    <p class="title" data-section-title><a href="#">General Questions</a></p>
	    <div class="content" data-section-content>
	      <p>Coming soon...</p>
	    </div>
	  </section>
	  <section>
	    <p class="title" data-section-title><a href="#">My Payments</a></p>
	    <div class="content" data-section-content>
	      <p>Coming soon...</p>
	    </div>
	  </section>
	  <section>
	    <p class="title" data-section-title><a href="#">How did you do this in 10 days?</a></p>
	    <div class="content" data-section-content>
	      <p>We are awesome and Ting brought us lots of brownies!</p>
	    </div>
	  </section>
	</div>
</div>

<%= render "/layouts/footer" %>