<div class="row">
	<div class="section-container accordion" data-section="accordion">
	  <section class="active">
	    <p class="title" data-section-title><a href="#">General Questions</a></p>
	    <div class="content" data-section-content>
	      <p></p>
	    </div>
	  </section>
	  <section>
	    <p class="title" data-section-title><a href="#">My Payments</a></p>
	    <div class="content" data-section-content>
	      <p></p>
	    </div>
	  </section>
	  <section>
	    <p class="title" data-section-title><a href="#">How d</a></p>
	    <div class="content" data-section-content>
	      <p></p>
	    </div>
	  </section>
	</div>
</div>

<%= render "/layouts/footer" %>