
	<% if current_organizer %>
	<p class="center_button"><%= link_to "View your events page", organizer_path(current_organizer), class: "button radius" %></p>
<% end %>

<p class="center_button"><%= link_to "Create event", new_event_path, class: "button radius" %></p>
