/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.countdown
 *= require_tree 
 *= require foundation_and_overrides
 *= require jquery.ui.all
 *= require jquery.windowed
 *= require inputosaurus
 *= require animate-custom
 *= jquery-ui-timepicker-addon.css
 */

.row {
  background-image: url('shattered.png');
  background-repeat:repeat;
}
.top-bar-section ul li a:not(.button):hover {     /* Topbar menu items. */
    background-color: #FFA273;
    
}

.top-bar-section ul li a:not(.button):active {     /* Topbar menu items. */
    background-color: #FFA273;
    
}

.top-bar .name h1 a:hover {     /* This one is optional. Text logo on the left of the Topbar. */
    background-color: #FFA273;
    
}

.top-bar .name h1 a:active {     /* This one is optional. Text logo on the left of the Topbar. */
    background-color: #FFA273;
    
}

.homefirst {
  background-color: #FFA273;
}
.homefirst h3 {
color: #A63800;
}

.homesecond {
  background-image:url(pattern.jpg); background-repeat:repeat;
}

.homesecond img {
  margin: 30px 20px 30px 20px;
  vertical-align: middle;
  max-width: 200px;
}

.arrow img {
  max-width: 100px;
  vertical-align: middle;
  padding-top: 80px;
}

.name img {
  vertical-align: middle;
}

#twitter img {
	vertical-align: middle;
}

#stripe_connect img {
	vertical-align: middle;
}

.center_button	{
text-align: center;
}

.home_button {
  padding-top:20px;
}

.button a {
background-color: #FF5600;

}

.center {
	text-align: center;
}

.flash {
  text-align: center;
  padding: 15px;  
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

  .flash.notice {
    background-color: #006E4A;
  }

  .flash.alert {
   background-color: #A63800; 
  }



/*.container {
	padding: 0px 50px;
}																																																																																																																																																																																																																																																																																																																																																																																																				0--00--0-0=-00-0-0-089=-0--08	-0001================10==1018=1=8																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		
causing errors*/

.Invite_Status {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.li_email {
  border-bottom: 1px solid #ccc;
}

.li_email:last-child {
  border: none;
}

.li_email {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.li_email:hover {
  font-size: 1.3em;
  background: #f6f6f6;
}

footer  {
  background: #333;
  padding: 24px 0 10px;
}

footer ul.home-social {
  display: block;
  float: right;
  margin-bottom: 8px; 
  vertical-align: middle;
  position: relative;
}

footer ul.home-social li {
  list-style: none;
  display: block;
  float: left;
  margin-left: 10px; }

footer ul.home-social li:first-child {
  margin-left: 0; }

footer ul.home-social li a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("socialimages.png") no-repeat center 0; }

footer ul.home-social li a:hover {
  opacity: 0.8; }

footer ul.home-social li a.twitter {
  background-position: center 0; }

footer ul.home-social li a.facebook {
  background-position: center -200px; }

footer ul.home-social li a.mail {
  background-position: center -400px; }


footer .copyright{
margin: 6px 0 0;
font-size: 12px;
color: #666;
}

.footlist {
  color: #666;
}

#threesteps {
  padding-top: 20px;
}

