<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span><%= @amount %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="pk_test_RM4OsOgjZV7pdZqCsTgqPJMB"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>

