<footer>

	<div class="row">

		<div class="large-8 columns" >
			<ul class="inline-list footlist">
				<li><a href="/aboutus">About us</a></li>
				<li><a href="/contactus">Contact</a></li>
				<li><a href="/faq">FAQs</a></li>
			</ul>
			<p class="copyright">© 2013 SetForget.It All rights reserved.</p>

		</div>
		<div class="large-4 columns" >
			<ul class="home-social">
				<li><a href="http://www.twitter.com/setforgetit" class="twitter"></a></li>
				<li><a href="http://www.facebook.com/setforgetit" class="facebook"></a></li>
				<li><a href="http://www.setforget.it/contact" class="contact"></a></li>
			</ul>
		</div>
	</div>

	
</footer>